:root {
    --main-font: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    --main-white: #f0f3fa;
    --disabled-text: #6a6d78;
    --main-text-color: #131722;
    --light-blue: #9FE0F5;
    --grey-blue: #528CA2;
    --dark-blue: #12376C;
    --dark-purple: #743E84;
    --dark-pink: #E97B8A;
    --light-pink: #EBB0CD;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}