.navbarBackdrop {
    height: 65px;
}
.navbarContainer {
    color: var(--main-text-color);
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLogoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logoImageContainer {
    padding-left: 20px;
}
.logoImage {
    height: 25px;
}
.logoTextContainer {
    padding-left: 25px;
    height: 25px;
}
.logoText {
    height: 25px;
}
.linkNavTab {
    height: 40px;
    display: flex;
    text-align: center;
    padding: 0 10px;
}
.linkNavTab:hover {
    border-radius: 40px;
    background-color: var(--main-white);
    color: var(--disabled-text);
}
.centerContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.navLinkContainer {
    text-decoration: none;
    color: var(--main-text-color);
    font-family: var(--main-font);
    padding: 10px;
    min-width: 40px;
    margin: 0 5px;
}
.rightSideContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 25px;
}
.rightBlockIcon {
    cursor: pointer;
    color: var(--main-text-color);
}
.profileIconContainer {
    font-size: 18px;
}
.rightBlockIcon:hover .profileIconContainer,
.rightBlockIcon:hover .settingsIconContainer {
    color: var(--grey-blue);
}
.profileContainer {
    padding-right: 25px;
}
.profileDropdownContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
    top: 65px;
    border-radius: 3px;
    right: 20px;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.profileDropdownElement {
    cursor: pointer;
    display: flex;
    font-size: 14px;
    padding: 10px 10px;
}
.dropdownLink {
    outline: none;
    text-decoration: none;
    color: var(--main-text-color);
}
.profileDropdownElement:hover {
    background-color: #eee;
}
.settingsIconContainer {

}
.currentActivePageText {
    color: var(--grey-blue);
}
.searchNavBlock {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 6px 8px;
    margin-right: 15px;
    border-radius: 40px;
    background-color: var(--main-white);
    color: var(--disabled-text);
}
.searchNavContainer {
    cursor: pointer;
}
.searchIconBlock {
    color: var(--disabled-text);
    padding-left: 10px;
}
.searchButton {
    font-family: var(--main-font);
    font-size: 15px;
    padding: 0 10px;
    background-color: var(--main-white);
    color: var(--disabled-text);
}
.navbarSearchContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}
.dropdownSearchMenuContent {
    width: 50%;
    height: 550px;
    margin: 0 auto;
    position: absolute;
    top: 85px;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: auto;
    padding: 20px 10px 20px 10px;
}
.searchDropdownOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.dropdownSearchMenuContent::-webkit-scrollbar {
    width: 4px;
}
.dropdownSearchMenuContent::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.dropdownSearchMenuContent::-webkit-scrollbar-thumb {
    background: var(--disabled-text);
    border-radius: 4px;
}
.dropdownSearchMenuContent::-webkit-scrollbar-thumb:hover {
    background: #444;
}
.searchInputDropdownContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    width: 840px;
    height: 40px;
    background-color: #f0f3fa;
}
.leftSideDropdownContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.searchInputContainer {
    display: flex;
    flex: 1;
    padding-left: 10px;
}
.searchInput {
    font-family: var(--main-font);
    font-size: 15px;
    width: 100%;
    outline: none;
    padding: 8px;
    border: none;
    background-color: #f0f3fa;
    color: var(--main-text-color);
}
.searchIconDropdownBlock {
    color: var(--disabled-text);
    font-size: 16px;
    padding-left: 15px;
    cursor: pointer;
}
.rightSideDropdownContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.clearTextBlock {
    cursor: pointer;
    color: var(--disabled-text);
    border-right: 1px solid #ccc;
    font-family: var(--main-font);
    padding-right: 10px;
}
.clearIconBlock {
    color: var(--disabled-text);
    padding-right: 15px;
    padding-left: 10px;
    cursor: pointer;
}